a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
}


.header-logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.23;
    color: #95E1D3;
}

.header-link {
    font-size: 14px;
    line-height: 1.21;
    color: #95E1D3;
}

.header-link:hover {
    color: #F38181 ;
}

.services-info {
    font-family: 'Kaushan Script';
    font-size: 24px;
    line-height: 1.46;
    color: #333333;

}

.services-headline {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.23;
    font-variant: all-small-caps;
    color: #333333;
}

.services-title {
    font-size: 14px;
    line-height: 1.21;
    font-variant: small-caps;
    color: #333333;
}

.services-text {
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 1.47;
    color: #B6B6B6;

}

.team-title {
    font-family: Kaushan Script;
font-size: 24px;
line-height: 1.45;
letter-spacing: 0em;
text-align: left;
color: #333333;

}

.team-headline {
font-size: 30px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0em;
text-align: left;
color: #333333;
font-variant: all-small-caps;

}

.team-text {
    font-family: Roboto;
font-size: 15px;
line-height: 1.2;
letter-spacing: 0em;
text-align: center;
color: #b6b6b6;
}







